Source: archipelago
Section: otherosfs
Priority: extra
Maintainer: Filippos Giannakos <philipgian@grnet.gr>
Build-Depends: debhelper (>= 7.0.50~), python, libst-dev, libxseg-dev(>=0.4),
 librados-dev(=0.61.2+grnet2-1) | librados-dev(>=0.65),
 libssl-dev, cmake(>=2.8)
Standards-Version: 3.9.1
X-Python-Version: >=2.6

Package: python-archipelago
Section: python
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, python-xseg(>=0.4),
 python-pkg-resources, psmisc
Recommends: python-ceph
Provides: ${python:Provides}, archipelago-tool1
Description: Python archipelago module
 Extended Description here

Package: archipelago
Architecture: amd64
Depends: ${misc:Depends},  ${shlibs:Depends}, ${python:Depends},
 libxseg0(>=0.4), python-archipelago(=${binary:Version})
Provides: archipelago-protocol1
Replaces: archipelago-modules-dkms, archipelago-modules-0.3.5,
 archipelago-modules-0.3.4, archipelago-modules-0.3.3,
 archipelago-modules-0.3.2, archipelago-modules-0.3.1,
 archipelago-modules-0.3
Conflicts: archipelago-modules-dkms, archipelago-modules-0.3.5,
 archipelago-modules-0.3.4, archipelago-modules-0.3.3,
 archipelago-modules-0.3.2, archipelago-modules-0.3.1,
 archipelago-modules-0.3
Recommends: blktap-archipelago-utils(>=2.1)
Description:  Provides archipelago infrastructure
 Extended Description here

Package: archipelago-rados
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends}, archipelago-protocol1,
 librados2(=0.61.2+grnet2-1) | librados2(>=0.65), libxseg0(>=0.4)
Description: Provides archipelago rados driver
 Extended Description here

Package: archipelago-dbg
Architecture: amd64
Section: debug
Depends: ${misc:Depends}, archipelago(=${binary:Version})
Description:  Provides archipelago-dbg infrastructure
 Extended Description here

Package: archipelago-rados-dbg
Architecture: amd64
Section: debug
Depends: ${misc:Depends}, archipelago-rados(=${binary:Version})
Description:  Provides archipelago-rados-dbg infrastructure
 Extended Description here

Package: archipelago-ganeti
Architecture: any
Depends: ${misc:Depends}, python(>=2.6), archipelago-tool1
Description:  Provides archipelago ganeti ext storage scripts
 Extended Description here
