Source: archipelago
Section: otherosfs
Priority: extra
Maintainer: Filippos Giannakos <philipgian@grnet.gr>
Build-Depends: debhelper (>= 7.0.50~), dkms(>=2.1.0.0)
Standards-Version: 3.9.1

Package: libxseg0
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Xseg library
 Extended Description here

Package: libxseg0-dbg
Section: debug
Architecture: amd64
Depends: libxseg0(=${binary:Version}), ${misc:Depends}
Description: Xseg library
 Extended Description here

Package: archipelago
Architecture: amd64
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends},
	 libxseg0(=${binary:Version}), libgcrypt11(>=1.4.5-2), libst1(>=1.9-3),
	 librados2(>=0.54-1-grnet), python-psutil(>=0.1.3), python-argparse,
	 libssl0.9.8,  archipelago-kernel-dkms(=${binary:Version})
Description:  Provides archipelago infrastructure
 Extended Description here

Package: archipelago-dbg
Architecture: amd64
Depends: ${misc:Depends}, archipelago(=${binary:Version})
Description:  Provides archipelago infrastructure
 Extended Description here

Package: archipelago-ganeti
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, archipelago(=${binary:Version})
Description:  Provides archipelago ganeti ext storage scripts
 Extended Description here

Package: archipelago-kernel-dkms
Architecture: any
Depends: ${misc:Depends}, linux-headers-amd64(>= 3.2)
Description:  Provides archipelago-kernel infrastructure
 Extended Description here

