#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

%:
	dh $@ --with python2

override_dh_strip:
	dh_strip -parchipelago --dbg-package=archipelago-dbg
	dh_strip -parchipelago-rados --dbg-package=archipelago-rados-dbg

override_dh_installinit:
	dh_installinit --no-start

override_dh_fixperms:
	dh_fixperms --exclude var/log/ganeti/extstorage
#	chmod 0750 $(DESTDIR)/var/log/ganeti/extstorage
