#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

.PHONY: override_dh_dkms override_dh_strip
export VERSION := $(shell head -n 1 debian/changelog | sed -r 's/.*([0-9]+\.[0-9]+.*)-[0-9]+.*/\1/g')

%:
	dh $@ --with dkms --with python2

override_dh_dkms:
	dh_dkms -V $(VERSION)

override_dh_strip:
	dh_strip -plibxseg0 --dbg-package=libxseg0-dbg
	dh_strip -parchipelago --dbg-package=archipelago-dbg

override_dh_installinit:
	dh_installinit --no-start

override_dh_auto_build:
	dh_auto_build -- build
